# Python 가상 환경
.venv/

# Python 컴파일된 파일
__pycache__/
*.pyc
*.pyo
*.pyd

# Python 패키지 배포 관련 파일
dist/
build/

# IDE 설정 파일
.vscode/

# 설정 파일
config/
.env

# 임시 테스트용 코드
scratch/

# pyenv 설정 파일
.python-version